<div>
  <h3>Housing</h3>
  <% unless @categories.nil? %>
    <form name="categories" action='/categories/:posts' method="get">
    <% @categories.each do |c| %>
      <input type = "radio" name="categories" value="<%= c.description %>"><%= c.description %></input>
      <br />
    <% end %>
    <input type="submit" action='/' method="get">
    </form>
  <% end %>
</div>
